/* fonts */


/* partybusiness police pour le texte */
@font-face {
  font-family:'partybusiness';
  src: url("/home/discaz/.local/share/fonts/partybusiness.ttf");
  
}
/* police Aniron pour les titres */

@font-face {
  font-family: 'anironcbold';
  src: url("/home/discaz/.local/share/fonts/anicb___.ttf")

}


@font-face {
  font-family: 'teng';
  src: url("/home/discaz/.local/share/fonts/tngan.ttf")

}

/*  symboles  Tengwar  */




/* Application des fonts */

h1, h2, h3, h4, h5, h6, .nav, table{
  font-family: 'anironcbold', cursive;
}

p{
  font-family: "partybusiness";
}


.elf{
  font-family: 'teng';
  color: #ff4d00;
  }

/* Navbar  */


#fellows{
  margin-top:5%;
}

.navbar {
  background-color: #FF5F01;
}

#navbarcc{
	justify-content: flex-end;
}

#navbarcc a{

font-style: normal;
color: white;
}
#navbarcc .under:hover{
	border-bottom: 2px solid white;
}
.pipe {
	margin-left: 0.1em;
	margin-right: 0.1em;
 }


 /* Slideshow -carousel */

 .carousel-inner{
    max-height: 33em;
 }
 
 
 .carousel {
  width: 100%;
  height: auto;
}
.carousel-item {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.carousel-caption {
  text-align: left;
}
.img-fluid{
  width: 100%;
}

.text-head {
  margin-top: 150px;
  font-size: 4em;
  font-family: "partybusiness";
}

.text-head2 {
  margin-bottom: 180px;
  font-size: 3em;
  font-family: "partybusiness";
}
.carousel-control-prev,
.carousel-control-next{
      bottom: 50%;
}


.container{
  width: 100%;
}
/* buttons most wanted, most dangerous, already captured */
.centrage{
  width:70%;
  margin: 0 auto;
  text-align: center;
}

.centered{
  justify-content: center;
}


/* On mouse-over */
.btn:hover {background: #A9A9A9;}

.default {color: black;}




/* mise en forme image gandalf, Hobbit "3 et Yummy Dwarf */

.bodydark {
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325240/bg_dark.png) 0 0 repeat;
  overflow: hidden;
  clear: both;
  color: #C0C0C0;
}



.cardtitle, .card-text {
    
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

.image {
  position: relative;
  width: 300px;
  }

.card-img-top {
opacity: 0.5;
}


.dead {
position: absolute;
top: 15%;
left: 30%;
color: black;
font-size: 3em;
}

.texte {
position: absolute;
width: 80%;
margin-left: 5%;
top: 1px;
text-align: center;
background-color: #ffffff;
color: #000000;
border-radius: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 2em;
opacity: 0.8;
}

span {
color:#ff6600;
}

.name {
position: absolute;
top: 40%;
left: 35%;
color: #ffffff;
font-size: 2em;
}

/* effet hover */

.card:hover .card-img-top {
  opacity: 1;
  transition : 0.5s ease-in-out;
  }

.card:hover .texte {
display:none;
}

.card:hover .name {
font-size: 1.em;
top: 55%;
left: 35%;
transition : 0.5s ease-in-out;
}


/* section  reward*/
#capturedSection{
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325240/bg_dark.png) 0 0 repeat;
  overflow: hidden;
  color: #fff;
}

.Iresponsive{
  width: 100%;
}
.borderr{
	border-radius: 50%;
}


.floatright{
  float:right;
}

.float {
  float:left;
  margin-left:3%;
  margin-right:3%;
}

.buttoncentered {
  display:block;
  margin : 0 auto;
  width: 40%;
  text-align: center;
   
}
/* Best Hunters */


#bestHunters{
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325259/bg_light.png) 0 0 repeat;
  overflow: hidden;
  clear: both;
}


/* section About the ring */

.bottom{
  margin-bottom: 5%;
}

.card-body{
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325259/bg_light.png) 0 0 repeat;
  overflow: hidden;
  clear: both;
}

.card-text{
  color: black;
}

#theRing{
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325240/bg_dark.png) 0 0 repeat;
  overflow: hidden;
  color: #fff;
}

.card{
  color: #333;
  border: 0;
  margin: 0 auto;
  width : 100%;
  
}

.card-default {
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325240/bg_dark.png) 0 0 repeat;
  overflow: hidden;
  color: #fff;
 
}


.margin-top{
  margin-top:10%;
}


table{
  margin: 30px 0;
  border: medium solid black;
  border-collapse: collapse;
  width: 100%;
}

tr, td, th{
  padding: 10px;
  border: thin solid black;
}

 th, .greytr{
  background-color: #E0E0E0;
}
/* why the ring is awesome ? */

.card{
  color: #333;
  border: 1px solid;
  width:100%;
  
}

.card-default>.card-header{
  background-color: #ff4d00;
  color: #fff;
}

/* Join Mordor Army */
.left{
  margin-left: 7%;
}

.padding{
  padding: 0, 10%;
}

.joinwidth{
  width: 100%;
}

#join{
  background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325259/bg_light.png) 0 0 repeat;
  overflow: hidden;
  clear: both;
}
.btn-sauronInfo{
  margin: 50px 0;
  text-align: center;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.btn-fan, .btn-fan:hover{
  background-color: black;;
  border: 0;
  width: 124px;
  height: 35px;
  padding-left:30px;
  color: #ff8200;
}

.orange{
  color: #ff4d00;
}

.btn-sauron, .btn-sauron:hover{
  background-color: black;
  color:#ff4d00;
  font-family: "ani";
  font-size: 1.3em;
  border: 1px solid black;
  width: 450px;
  height: 73px;
}


/* contact form */

.maxwidth {
  max-width: 60%;
  margin-left: 5%;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


  #contactus{
    background: url(https://res.cloudinary.com/dzzuxhr3r/image/upload/v1552325240/bg_dark.png) 0 0 repeat;
    overflow: hidden;
    color: #fff;
  }


/* footer */

footer{
  background-color: #ff4d00;
  color: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li{
  padding: 10px 0;
}

footer ul li a, footer p{
  color:#fff;
  text-decoration: none;
  
}

footer p{
  font-size : 1.3em;
}

footer p.footerNote{
  font-size : 0.9em;
}

footer p.logo{
  margin-top: 30px;
}



/* display Carousel */


@media only screen and (max-width: 1026px) {
  .carousel-inner {
      display: none !important;
  }
}
